body{
  background-color: #393E46;
  text-shadow: 2px 2px #000;
}

h1{
  font-size: 8rem;
  font-family: 'Lobster', cursive;
  color: #4ECCA3;
}

p{
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
  font-size: 2rem;
  margin: 2%;
}

.container{
  text-align: center;
  margin: 0 20% 13% 20%;
}

img{
  margin: 0% 7% 0 7%;
  width: 80%;
}

.dice{
  display: inline-block;
  text-align: center;
  margin: 0 7% 0 7%;
}

footer {
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;
}

footer p{
  font-size: 1.5rem;
}

@media (max-width: 1300px){
  h1{
    font-size: 6rem;
  }

  .dice{
    margin: 0;
  }

  .dice p{
    font-size: 1.5rem;
  }

  img{
    width: 60%;
  }

  .container{
    margin: 20% 10% 5% 10%;
  }

  .footer{
    position: absolute;
    margin-top: 50%;
  }
}

@media (max-width: 950px){
  h1{
    font-size: 4rem;
  }

  .dice{
    margin: 0;
  }

  .dice p{
    font-size: 1.2rem;
  }

  img{
    width: 50%;
  }

  .container{
    margin: 35% 5% 0 5%;
  }
}

@media (max-width: 650px){
  h1{
    font-size: 3.5rem;
  }

  .dice{
    margin: 0;
  }

  .dice p{
    font-size: 1.2rem;
  }

  img{
    width: 40%;
  }

  .container{
    margin: 45% 2% 0 2%;
  }
}
